<!---->
<launch>
    <arg name="role_name" default="hero" />
    <arg name="control_loop_rate" default="0.05" />

    <!--Passthrough
    all messages the control package needs-->
    <node pkg="acting" type="passthrough.py" name="passthrough" output="screen">
        <param name="role_name" value="$(arg role_name)" />
        <param name="control_loop_rate" value="$(arg control_loop_rate)" />
    </node>

    <node pkg="teb_planner" type="teb_planner.py" name="teb_planner" output="screen">
        <param name="input_topic_name" value="paf/hero/trajectory" />
        <param name="output_topic_name" value="paf/acting/trajectory" />
    </node>

    <node pkg="teb_planner_pa" type="teb_planner_node_pa" name="teb_planner_node_pa" output="screen">
        <rosparam file="$(find teb_planner)/cfg/car_like_robot_params.yaml" command="load" />
    </node>

    <node pkg="acting" type="MainFramePublisher.py" name="MainFramePublisher" output="screen">
        <param name="control_loop_rate" value="$(arg control_loop_rate)" />
        <param name="role_name" value="$(arg role_name)" />
    </node>

    <include file="$(find control)/launch/control.launch">
        <arg name="control_loop_rate" value="$(arg control_loop_rate)" />
    </include>
</launch>